* {
    margin: 0;
    padding: 0;
}

.body {
    width: max-content;
    height: fit-content;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 58px 0;
}

@media only screen and (max-width: 768px) {
    .body {
        width: 100%;
        padding: 30px;
    }
}