.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 736px;

    .mode {
        display: flex;
        align-items: center;
    }

    .toggle {
        margin: 0 20px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        box-sizing: border-box;
        padding: 39px;
    }
}