.nformation {
    width: 736px;
    height: fit-content;
    margin-bottom: 41px;

    .nounf {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        margin-bottom: 44px;

        .line {
            width: 656px;
            height: 1px;
            background-color: #E9E9E9;
        }
    }

    .description {
        width: 100%;
        height: fit-content;
    }
}

@media only screen and (max-width: 736px) {
    .nformation {
        width: 90%;

        .nounf {
            .line {
                width: 70%;
            }
        }
    }
}